.tdT {
    background-color: #D9F0FF;
    width: auto;
    border: solid 1px black;
}

.spacedSpanT{
    margin-left: 20px;
    margin-right: 40px;
}
.solidBorderSpanT{
    padding: 5px;
}
.solidBSpanT{
    border: 1px solid black;
    padding: 5px;
    min-width: 100px;

}
.centerBoxT{

    float:left;
    background-color: #D9F0FF;
    border: dotted 2px #1876D2;
    margin-bottom: 30px;
    margin-left: 10%;
}

.divTablaT{
    margin-left: 10%;
    margin-right: 15%;
    height: auto;
    width: auto;
}

.divTablaAzulT{
    margin-left: 10%;
    margin-right: 13%;
    height: auto;
    width: auto;
    background-color: #D9F0FF;
    border: 2px dotted #1876D2;
    text-align: center;
}

.thT {
    background-color: grey;
    border: 1px solid black;
    min-width: 150px;
    width: auto;
    margin-top: 5px;
    padding: 2px;
}

.inputT {
    font-size: large;
    background-color: #B6D0E1;
    border: 1px dotted black;
    width: auto;
    text-align: center;
}