.MenuDiv{
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}



.SmallSelect{
    width: 100px;
    margin: 0.3%;
}

.MediumSelect{
    width: 200px;
    margin: 0.4%;
}

.CodeSpan{
    margin-left: 18% ;
    margin-top: 1%;
    width: auto;
    height: auto;
    border-radius: 25px;
        border: 2px solid #B6D0E1;
        padding: 20px;
        width: 200px;
        height: 150px;
}

.Descripcion{
    width:600px;
    height: 50px;
    font-size: 16px;
    margin-left: 1%;
}
.Observacion {
    width: 500px;
    height: 50px;
    font-size: 16px;
    margin-left: 1%;
}

.DescripcionEmpleado {
    width: 600px;
    height: 150px;
    font-size: 16px;
    margin-left: 1%;
}

.ObservacionEmpleado {
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-left: 1%;
}

.FormNewTarea{
    width:50%;
    float: left;
    height: auto;
    overflow: auto;
}

.AccionesDiv{
    float:right;
    width: 49%;
    height: auto;
    overflow: scroll;
    
}
.OverlflowDiv{
    overflow: scroll;
}

.customTh{
    padding-right: 20px;
}


.FechaRealizacion{
    margin-left: 60%;
}
.inputFecha{
    border: 1px solid black;
    width: auto;
    height: auto;
    background-color: transparent;
}

.WrapperAcciones{
    border: 2px solid #1876D2;
    min-height: 300px;
}

.EmpleadosTh{
    background-color: #BABFC8;
    border: 1px solid black;
    min-width: 80px;
    width: auto;
    margin-left: 2px;
    margin-top: 2px;
    padding: 2px;
}
.EmpleadosTd{
    max-width: 150px;
    height: auto;
    border: 1px solid black;
    text-align: center;
}

.EmpleadosInput{
    width: 100px;
}

.MaterialesInput{
    width: 80px;
    text-align: center;
}

.PaginationFooter{
    position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
}
.TablaAcciones{
    margin: 10px;
}

.SelectorTareas{
    
    width: auto;
    height: auto;
}